[Desktop Entry]
Name=Obsidian
Exec=/home/tmoyer/Applications/appimaged-806-x86_64.AppImage wrap "/home/tmoyer/Applications/Obsidian-1.4.14.AppImage" --no-sandbox %U
Terminal=false
Type=Application
Icon=/home/tmoyer/.cache/thumbnails/normal/5b797f003ff67948a913b3b4f848a7b0.png
StartupWMClass=obsidian
X-AppImage-Version=1.4.14
Comment=/home/tmoyer/Applications/Obsidian-1.4.14.AppImage
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-ExecLocation=/home/tmoyer/Applications/Obsidian-1.4.14.AppImage
TryExec=/home/tmoyer/Applications/appimaged-806-x86_64.AppImage
X-AppImage-Identifier=5b797f003ff67948a913b3b4f848a7b0
Actions=Trash;OpenPortableHome;CreatePortableHome;Extract;Show

[Desktop Action Trash]
Name=Move to Trash
Exec=gio trash "/home/tmoyer/Applications/Obsidian-1.4.14.AppImage"

[Desktop Action OpenPortableHome]
Name=Open Portable Home in File Manager
Exec=xdg-open "/home/tmoyer/Applications/Obsidian-1.4.14.AppImage.home"

[Desktop Action CreatePortableHome]
Name=Create Portable Home
Exec=mkdir -p "/home/tmoyer/Applications/Obsidian-1.4.14.AppImage.home"

[Desktop Action Extract]
Name=Extract to AppDir
Exec=bash -c "cd '/home/tmoyer/Applications' && '/home/tmoyer/Applications/Obsidian-1.4.14.AppImage' --appimage-extract && xdg-open '/home/tmoyer/Applications/squashfs-root'"

[Desktop Action Show]
Name=Open Containing Folder
Exec=xdg-open "/home/tmoyer/Applications"
