[Desktop Entry]
Comment=
Exec=/home/tmoyer/Applications/TickTick-linux-x64/TickTick
GenericName=Todo List Manager
Icon=/home/tmoyer/Applications/TickTick-linux-x64/resources/app/icon.png
Name=TickTick
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
