apps/Applications/*.AppImage
apps/Applications/gh
apps/Applications/*.log
apps/Applications/oama
apps/Applications/TickTick-linux-x64/
apps/Applications/xremap
apps/Applications/yubikey-manager-qt-1.2.4b-linux.AppImage
mail/.config/offlineimap/config
mimeapps.list
mimeinfo.cache
mr/.config/mr/config.d
ssh/.ssh/ansible*
ssh/.ssh/known_hosts
ssh/.ssh/*.old
subl/.config/sublime-text/Installed Packages
subl/.config/sublime-text/Local
subl/.config/sublime-text/Packages
subl/Library/Application Support/Sublime Text 3/Local/Session.sublime_session
__pycache__
