apps/Applications/*.AppImage
apps/Applications/gh
apps/Applications/hugo
apps/Applications/*.log
apps/Applications/oama
apps/Applications/sops
apps/Applications/terragrunt
apps/Applications/TickTick-linux-x64/
apps/Applications/xremap
apps/Applications/yubikey-manager-qt-1.2.4b-linux.AppImage
apps/.local/share/applications/chrome-*-Default.desktop
apps/.local/share/applications/chrome-*-Profile_*.desktop
mail/.config/offlineimap/config
mimeapps.list
mimeinfo.cache
mr/.config/mr/config.d
ssh/.ssh/ansible
ssh/.ssh/known_hosts
ssh/.ssh/*.old
ssh/.ssh/terrablue
subl/.config/sublime-text/Installed Packages
subl/.config/sublime-text/Local
subl/.config/sublime-text/Packages
subl/Library/Application Support/Sublime Text 3/Local/Session.sublime_session

__pycache__
