<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.thomasmoyer.ssh.dns</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/do-dns-updater</string>
		<string>919e03b19ff8413bf277dd7a8c0e0ccf749acc96198404d4aafee197424f6ee3</string>
		<string>thomasmoyer.org</string>
		<string>ssh</string>
		<string>A</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/tom/Scratch/org.thomasmoyer.ssh.dns.stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/tom/Scratch/org.thomasmoyer.ssh.dns.stdout</string>
	<key>StartInterval</key>
	<integer>14400</integer>
</dict>
</plist>
