Library/Application Support/Sublime Text 3/Installed Packages/*
Library/Application Support/Sublime Text 3/Local/*
Library/Application Support/Sublime Text 3/Packages/*
.config/sublime-text/Log/*
.config/sublime-text/Lib/*